fastapi
uvicorn
python-multipart
email-validator
python-dotenv
pydantic
langchain
langchain-google-genai
langchain-chroma
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pypdf
google-auth
google-auth-oauthlib
google-api-python-client
